body{
    font-family: sans-serif;
    font-size: 14px;
    background: url(bg.png) repeat center center;
}

#main{
    margin: 20px auto;
    padding: 10px;
    width: 400px;
    background-color: #efefef;
    border-radius: 5px;
}

h1{
    font-size: 200%;
    text-align: center;
    font-weight: bold;
}

h2{
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 5px;
}

ul{
    margin-left:10px;
    width:75%;
    list-style: none;
}

ul li {
    height:25px;
    padding-top:5px;
    background-color:#ccc;
    margin-bottom:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

ul li a{
    display: block;
    float:right;
    width:15px;height:15px;
    margin-right:5px;
    color:#eee;
    text-decoration: none;
    font-size:125%;
    visibility: hidden;
}

ul li a:hover {
    color: #fff;
}

ul li:hover a{
    visibility: visible;
}

form{
    margin-top: 10px;
}

form span {
    font-weight:bolder;
    font-size:130%;
    color:#fff;
    margin:5px;
}

form input {
    background-color:transparent;
    border:none;
}

.finished{
    margin-top: 20px;
}

